.vscode/

# Data files
data/*
!data/targets.txt

!data/README.md
!data/models/.gitkeep
!data/alphafold/*.npy

# All files in the alphafold directory
!data/alphafold/
data/alphafold/*
!data/alphafold/emb_max.npy
!data/alphafold/emb_min.npy

# Other
pcmol.egg-info/
**/__pycache__/
**/*.pyc
**/*.pyo