# Data files
data/*
!data/targets.txt
data/alphafold/*

!data/README.md
!data/models/.gitkeep
!data/alphafold/*.npy
# !data/alphafold/emb_max.npy
# !data/alphafold/emb_min.npy

# Other
pcmol.egg-info/
**/__pycache__/
**/*.pyc
**/*.pyo
